body, html {
    height: 100%;
    margin: 0;
}


header {
    display: flex;
    justify-content: center;
    background-color: #be0000;
    width: 100%;
    font-size: 25px;
}

.nonSticky {
    position: absolute;
    bottom: 0;
    justify-content: start;
    text-align: center;
}
.sticky {
    position: fixed;
    top: 0;
}

header a {
    color: #111111;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    display: inline;
    padding-right: 100px;
    padding-left: 100px;
    font-family: BioRhyme, serif;
    font-size: 28px;
}

header a:hover {
    background-color: black;
    color: aliceblue;

}

#logo {
    max-height: 80px;
    margin: 0 auto;
}

header figure{
    max-height: 80px;
    margin: 5px;
    padding-left: 35px;
}

#linkit{
    justify-content: center;
    margin: 0 auto;
    padding-top: 23px;
}

#room {
    height: 80px;
    width: 100%;
}

main {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#Mondo{
    margin-top: 0;
    margin-left: 0;
    max-height: 35vw;
}

#esittelyVideo{
    max-height: 35vw;
    width: 50%;
}

.content p{
    width: 1000px;
    font-size: 20px;
    font-family: Space Mono, serif;
    margin-top: 0;
}

main figure h1{
    margin-top: 50px;
    font-family: Space Mono, serif;
}

.content img {
    max-height: 35vw;
}

.specialtext{
    font-weight: bold;
    float: right;
}



.mapContainer {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-around;
    margin-top: 100px;

}

.mapContainer h1 {
    font-size: 25px;
    font-family: Space Mono, serif;
}

.mapContainer article {

}

.mapContainer p {
    margin-left: 0;
    font-size: 20px;
    font-family: Space Mono, serif;
    margin-top: 0;
}

#jasenKuvat{
    width: 320px;
}

.jasenKuva{
    width: 150px;
    margin: 0;
    padding: 0;
}

#map {
    display: inline-block;
    height: 400px;
    width: 600px;
}

#location {
    position: relative;
    height: 10%;
    width: 20%;
}

a img {
    visibility: hidden;
    height: 100%;

}

footer {
    margin-top: 35px;
    background: #bebebe;
    min-height: 200px;
    display: flex;
}

footer img {
    max-height: 100px;
    position: relative;
    top: 30px;
    left: 10px;
}

footer figure{
    height: 100px;
    width: 100px;

}

footer article{
    margin: 0;
    height: 50px;
}

footer article p{
    font-family: Space Mono, serif;
    font-size: 22px;
    margin-top: 80px;
    height: 100px;
}

#nimet{
    position: relative;
    left:65%;
    bottom: 35px;
}

#nimet p{
    font-size: 18px;
}
