body, html {
    height: 100%;
    margin: 0;
}

.content{
    margin-bottom: 40px;
}
.nonSticky {
    position: absolute;
    bottom: 0;
    justify-content: start;
    text-align: center;
}
.sticky {
    position: fixed;
    top: 0;
}

#room {
    height: 80px;
    width: 100%;
}

header{
    z-index: 1;
}

main {
    margin-top: 50px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.content{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#esittelyVideo {
    max-width: 80vw;
}

.textAndImg{
    display: flex;
    padding: 15px;
    align-items: center;
    max-width: 80vw;
}

.textAndImg article{
    width: 70vw;
    padding: 0;
}

.textAndImg article h1{
    margin-top: 50px;
    font-family: "Space Mono", serif;
}

.textAndImg article p{
    font-size: 20px;
    font-family: "Space Mono", serif;
    margin-top: 10px;
    padding: 0;
}
.specialtext{
    font-weight: bold;
    float: right;
    margin-top:20px;
}

#Mondo{
    max-width: 40vw;
    max-height: 50vw;
    margin-left: 20px;
    margin-top: 50px;
}

.mapContainer {
    display: flex;
    padding: 15px;
    align-items: center;
    max-width: 80vw;
    text-align: center;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-between;
    margin-top: 100px;
}

.mapContainer h1 {
    margin: 0;
    padding: 0;
    font-size: 25px;
    font-family: "Space Mono", serif;
}


.mapContainer p {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: "Space Mono", serif;
}

#mapAndButton {
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    margin: 0;
    padding: 0;
    float:right;
    width: 40vw;
    height: 30vw;
}

#map {
    width: 40vw;
    height: 30vw;
}

#yhteysTiedot{
    text-align: left;
    margin-bottom: 40px;
}

#location {
    margin-top: 10px;
    height: 40px;
    width: 100px;
}

a img {
    visibility: hidden;
    height: 100%;

}

.mapboxgl-popup {
    max-width: 50%;
}

.mapboxgl-popup-content {
    text-align: center;
    font-family: "Space Mono", serif;
}

.marker {
    background-image: url('../img/logo2.png');
    background-size: cover;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}

.iss {
    background-image: url('../img/iss.png');
}

#instructions {
    position: relative;
    margin: 20px;
    width: 25%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    line-height: 2em;
    overflow-y: scroll;
    font-family: "Space Mono", serif;
    z-index: 1;
    max-height: 50%;
}

.duration {
    font-size: 20px;
}

h2{
    font-family: "Space Mono", serif;
}
@media only screen and (max-width: 1350px) {
    @media only screen and (max-width: 768px) {
        main {
            width: 100%;
        }

        .content {
            flex-flow: column;
            justify-content: space-between;
        }

        .textAndImg{
            flex-flow: column nowrap;
            justify-content: space-between;
            max-width: 80vw;
        }

        #Mondo {
            margin-top: 20px;
            max-height: 99.76vw;
            max-width: 80vw;
        }

        .content article p {
            margin-left: 0;
            margin-top: 20px;
            max-width: 500px;
        }

        .mapContainer {
            display: contents;
            flex-flow: column;
        }



        #location {
            margin-left: 0;
            margin-top: 10px;
        }

        .mapContainer aside {
            margin: 0;
        }

        #yhteysTiedot{
            width: 80%;
        }

        div{
            margin-left: 0;
            max-width: 100%;
        }
    }

    .mapContainer {
        display: flex;
        padding: 15px;
        align-items: center;
        max-width: 80vw;
        text-align: center;
        flex-flow: column wrap;
        width: 100%;
        justify-content: center;
        margin-top: 10px;
    }
    #mapAndButton {
        margin: 0;
        padding: 0;
        width: 80vw;
        height: 60vw;
    }

    #map {
        width: 80vw;
        height: 60vw;
    }

    #yhteysTiedot{
        text-align: center;
        margin-bottom: 40px;
    }
}



