body, html {
    height: 100%;
    margin: 0;
}

#tuoteInfoDiv{
    display: flex;
    justify-content: center;
    padding: 50px;
}

#tuoteInfoDiv article{
    display: flex;
    justify-content: center;

}

.linkki{
    margin-top: 50px;
    margin-bottom: 50px;
}

#teksti{
    width: 50%;
}

#teksti a{
    margin-top: 15%;
    font-size: 20px;
    font-family: "Space Mono", serif;
    float: right;
    left: 50%;
}

ul{
    list-style-type:circle;
}

main{
    padding-top: 50px;
}

#tuoteInfoDiv article h2,#tuoteInfoDiv article p{
    margin-left: 200px;
    font-size: 20px;
    font-family: "Space Mono", serif;
}
#tuoteInfoDiv button{
    margin-left: 200px;
    font-size: 18px;
    font-family: "Space Mono", serif;
}
.hinta{
    font-weight: bold;
}

#tuoteInfoDiv article li{
    max-width: 1000px;
    margin-left: 200px;
    font-size: 18px;
    font-family: "Space Mono", serif;
}

* {box-sizing:border-box}

.tuoteKuvaSlider{
    display: flex;
    align-items: center;
}
.slideshow-container {

    position: relative;
    margin: auto;
}

.tuoteKuvaSlider img{
    height: auto;
    max-width: 500px;
}

.mySlides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    position:absolute;
    right:50%;
    margin-right:-250px;
    border-radius: 3px 0 0 3px;
}
.prev{
    position:absolute;
    left:50%;
    margin-left:-250px;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}


.active, .dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}


@media only screen and (max-width: 1170px){

    main{
        width: 100%;
    }

    #tuoteInfoDiv{
        width: auto;
        display: block;
        flex-flow: column;
    }

    #tuoteInfoDiv article{
        display: block;
    }

    #teksti{
        display: flex;
        flex-flow: column;
        align-items: center;
        text-align: center;
        margin: 0 auto;
        width: 100%;
    }

    #tuoteInfoDiv article h2{
        margin: 0 auto;
    }

    #tuoteInfoDiv article p{
        margin: 0 auto;
    }

    #tuoteInfoDiv .specs{
        margin-top: 20px;
    }

    #tuoteInfoDiv .hinta{
        margin-top: 20px;
    }

    ul{
        margin-top: 10px;
        margin-left: 0;
        padding: unset;
    }

    #tuoteInfoDiv article li{
        margin: 0 auto;
        max-width: 300px;
    }

    #tuoteInfoDiv button{
        margin-top: 30px;
        margin-left: 0;
    }

    #tuoteInfoDiv a{
        margin-top: 50px;
        margin-bottom: 50px;
    }

    #cartIcon img{
        height: 40px;
        width: 40px;
    }

    .slideshow-container{
        display: flex;
        justify-content: center;
    }
    .prev, .next{
        top:35%
    }

}
