header {
    display: flex;
    justify-content: center;
    background-color: #be0000;
    width: 100%;
    font-size: 25px;
}

header a {
    color: #111111;
    text-align: center;
    text-decoration: none;
    display: inline;
    padding-right: 100px;
    padding-left: 100px;
    font-family: BioRhyme, serif;
    font-size: 28px;
}

header a:hover {
    background-color: black;
    color: aliceblue;
}


#logo {
    display: flex;
    position: relative;
    max-height: 100px;
    bottom: 15px;
}

header figure {
    height: 70px;
}

#linkit {
    margin: 0 auto;
    padding-top: 40px;
}


footer {
    margin-top: 35px;
    background: #bebebe;
    min-height: 200px;
    display: flex;
}

footer img {
    max-height: 100px;
    position: relative;
    top: 30px;
    left: 10px;
}

footer figure {
    height: 100px;
    width: 100px;

}

footer article {
    margin: 0;
    height: 50px;
}

footer article p {
    font-family: "Space Mono", serif;
    font-size: 22px;
    margin-top: 80px;
    height: 100px;
}

aside{
    position: relative;
    margin-right: 0;
    margin-left: auto;
    right: 50px;
    bottom: 20px;
}


#nimet p {
    font-size: 18px;
}

#cartIcon {
    margin: 0;
    position: fixed;
    right: 1vw;
    top: 1vw;

    text-align: center;
    cursor: pointer;
}

#cartIcon img {
    height: 50px;
    width: 50px;
}

#cartIcon:hover img {
    filter: invert(1);
}

.circle {
    position: fixed;
    right: 3%;
    top: 4%;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background: #ffe674;
    border: #111111 solid 2px;
}

.circle p {
    display: block;
    text-align: center;
    font-family: "Space Mono", serif;
    font-size: 13px;
    font-weight: bold;
    margin: 0;
}

@media only screen and (max-width: 1170px) {

    header a {
        font-size: 18px;
        padding: 20px;
    }

    header figure {
        margin-left: 10px;
        margin-right: 0;
    }

    header {
        width: 100%;
    }

    footer {
        width: 100%;
    }

    footer figure {
        margin: 0;
    }

    footer img {
        max-height: 80px;
        top: 50px;
    }

    footer article p {
        font-family: "Space Mono", serif;
        font-size: 18px;
        margin-left: 0;
        margin-top: 80px;
        height: 100px;
    }

    #nimet p {
        font-size: 15px;
        margin-left: auto;
        margin-right: 0;
    }

    #cartIcon img {
        height: 40px;
        width: 40px;
    }

    #cartIcon:hover img {
        filter: invert(1);
    }

    .circle p {
        font-family: "Space Mono", serif;
        margin: 0;
    }
}

