body, html {
    height: 100%;
    margin: 0;
}

.sticky {
    position: fixed;
    top: 0;
}

aside {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: -100%;
    top: 10%;
    width: auto;
    border: 2px solid #111111;
    background: white;
    transition: all 0.25s 0.25s;
    border-radius: 1vw;
    font-family: Space Mono, serif;
}

.open {
    left: 0;
}

aside ul {
    list-style: none;
    padding: 4px;
}

aside ul li {
    padding: 5px;
    margin: 2px;
    border: #111111 1px solid;
}

aside ul li:hover {
    cursor:pointer;
    background: #be0000;
    color: white;
}

.selected {
    background: #be0000;
    color: white;
}

.notSelected {
    background: white;
    color: black;
}


main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-around;
}

main div {
    height: 100px;
    width: 100%;
}

.product {
    width: 30vw;
    height: 31vw;
    box-sizing: border-box;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*overflow: hidden;*/
}

.product a{
    overflow: hidden;
}

article figure {
    height: 100%;
    width: 100%;
    margin: 0;
}


.productImg {
    height: 100%;
    width: 100%;
    margin-top: 20px;

    background-size: cover;
    display: inline-block;
}

.productImg:hover > img {
    opacity: 1;
}

main article p{
    margin-top: 60px;
    font-family: "Space Mono", serif;
    font-size: 16px;
}

a img {
    opacity: 0;
    object-fit: cover;
    width: inherit;
    transition: opacity .5s ease-out 100ms;
}

.animated {
    height: auto;
    margin: 0;
    padding: 3px;
    width: auto;
    background: white;
    position: relative;
    bottom: 0;
    transition: bottom .25s ease-out 100ms;
    opacity: 0;
}

.product:hover .animated {
    bottom: 15%;
    opacity: 1;
}

.animated p {
    margin: 0;
    padding: 0;
}

.animated:hover {
    cursor: pointer;
}


@media only screen and (max-width: 768px){
    main{
        width: 100%;
    }

    #ye {
        display: flex;
        flex-direction: column;
        position: inherit;
        align-items: center;
        background: #c6c6c6;
        margin-left: 8px;
        max-width: 100%;
    }

    #ye h3, #ye p {
        margin: 3px;
        font-size: 2.5vw;
        font-family: "Space Mono", serif;
    }

    .animated {
        height: auto;
    }

    .product:hover .animated {
        bottom: 80%;
        opacity: 1;
    }
}

.sidebarB {
    position: fixed;
    left: 5px;
    top: 5px;
    height: 35px;
    width: 35px;
}

.sidebarB:hover {
    cursor: pointer;
    filter: invert(1);
}